@import 'variables.css';

body{
    background: var(--light-green);
}

header{
    height: 150px;
    background: var(--green);
    position: relative;
    border-bottom: 10px var(--dark-green) solid;
}

.headlogo{
    left: 3%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.headtext{
    top: 50%;
    position: absolute;
    left: 50%;
    color: var(--txt-color);
}

ul.nava a,
.navatitle{
    display: block;
    padding: 20px;
    background-color: var(--green);
    border: 3px var(--dark-green) solid;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    color: var(--txt-color);
}

aside{
    width: 200px;
}

.navatitle{
    font-weight: bold;
}

ul.nava a {
    border-top: none;
}

ul.nava a:hover{
    background-color: var(--bright-green);
} 

