body{
    background-color: rgb(80, 211, 167);
    margin: 0;
}
.object{
    border-bottom: 5px rgb(34, 95, 75) solid;
    height: 80px;
    background: rgb(56, 153, 121);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headp{
    color: rgb(0, 0, 0);
}
