@import "../../styles/mixins.scss";

.main {
    position: relative;
}
.mainimage {
    position: absolute;
    min-height: 100%;
    width: 100%;
    height: auto;
    filter: brightness(40%);
}
.concepts {
    position: absolute;
    background: transparent;
    display: flex;
    width: 100%;
    z-index: 1;
}

.leftConcept {
    margin: 130px 0 0 10%;
}

.middleConcept {
    margin: 130px 5% 0 5%;
}

.rightConcept {
    margin: 130px 10% 0 0;
}

.concept {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 450px;
    width: 33.3%;
    height: 450px;
    border-radius: 20px;
    color: white;
    background-color: var(--teal);
    transition: all 1 ease;
    .hoverText {
        @include hidden-element();
        color: black;
    }
    &:hover {
        background-color: var(--super-light-teal);
        transition: var(--hover);
        .hoverText{
            @include visible-element();
        }
        .defaultText{
            @include hidden-element();
        }   
    }
}

