@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-size: var(--font-text);
    font-weight: 400;
    background: var(--black-5);
    color: white;
    * { font-family: 'Roboto Slab', serif; }
}

.ibg {
    position: relative;
    overflow: hidden;
    background: #888; // default background
 
    img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}