@import "../../../styles/mixins.scss";

.container {
  padding: 30px 0 !important;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--font-heading);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 32%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background: var(--black-15);
  gap: 10px;
}

.cardHeading {
  margin-bottom: 8px;
  font-size: var(--font-subheading-2);
}

.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 50%;
  background: var(--orange-50) !important;

  img {
    max-width: 100%;
  }
}