@mixin visible-element () {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transition: var(--hover);
    display: inline;
 }
 
 @mixin hidden-element() {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: var(--hover);
    display: none;
 }