:root {
    --container: 1300px;
    --hover: all 0.2s ease;
    --move: all 0.4s ease;
    --light-teal: rgb(0, 156, 156);
    --teal: teal;
    --dark-teal: rgb(0, 51, 51);
    --super-light-teal: rgb(189, 252, 252);
}