:root {
    --container: 1300px;
    --hover: all 0.2s ease;
    --move: all 0.4s ease;

    --orange-90: #FFE4CC;
    --orange-80: #FFCA99;
    --orange-70: #FFAF66;
    --orange-60: #FF9533;
    --orange-50: #FF7A00;
    --orange-40: #CC6200;
    --orange-30: #994900;
    --orange-20: #663100;
    --orange-10: #331800;

    --black-0: #000;
    --black-5: #0D0D0D;
    --black-10: #1A1A1A;
    --black-15: #262626;
    --black-20: #333;
    --black-25: #404040;
    --black-30: #4D4D4D;
    --black-35: #595959;
    --black-40: #666;

    --font-heading: 40px;
    --font-subheading-1: 24px;
    --font-subheading-2: 20px;
    --font-text: 17px;
}
