.levelBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.levelValue {
  font-size: var(--font-subheading-1);
  margin-bottom: 10px;
}

.total {
  width: 100%;
  background-color: dimgrey;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.recieved {
  background-color: #66c26e;
  height: 20px;
  border-radius: 5px;
}

.levelPoints {
  font-size: var(--font-subheading-2);
}
