.header {
    padding: 20px 0;
    background: var(--black-10);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    span {
        font-size: var(--font-subheading-1);
        color: white;
    }
}
    
.links {
    display: flex;
    gap: 40px;
}

.link {
    transition: var(--hover);

    &:hover,
    &:hover span {
        color: var(--orange-50);
        transition: var(--hover);
    }
}