.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--teal);
}

.logo {
    font-size: 32px;
    color: white;
}
    
.links {
    display: flex;
    gap: 1em;
}

.link {
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    transition: var(--hover);

    &:hover {
        background-color: var(--light-teal);
        transition: var(--hover);
    }
}